.transactionHistory {
  display: block;
  width: 450px;
  border: 1px solid;
  border-collapse: collapse;
}
.tableThead {
  //width: 400px;
  border: 1px solid black;
}
.th {
  border: 1px solid black;
  width: 150px;
}
